/*

  Calendar styles

  Applied to
  --------------------------------------------------------------
   calendar
   


/* ===========================================================================
   Month View
   ======================================================================== */

.month-page .ui-listview li .ui-btn .ui-li-aside {
    color: white;
    text-shadow: none;
}


/* A bit custom styling */
.month-page .ui-listview li .ui-btn p {
    color: #969292;
}

.month-page .ui-listview li .ui-btn .description {
    margin-left: 6.25em;
}

.month-page .ui-listview li.today .ui-btn {
 	border: 3px solid rgb(53, 117, 214);   
}

.month-page .ui-listview .ui-li-aside{
	text-align: center;
    width: 4em;
    padding-top: 1.6em;
    min-height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    /* Custom styling. */
    background: #990099;
    background: rgba(0,0,0,.8);
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.month-page .ui-listview .ui-li-has-thumb .ui-li-aside {
   	background: red;
}


.month-page .day {
	position: absolute;
	top: 0px;
    left: 6px;
    right: auto;
    bottom: auto;
    text-shadow: none;
    font-size: 09px;
    font-weight: normal;
    color: white;
}

.month-page table{
	display: none;
}



/* ======   Change Month Buttons   ====== */
 
.month-page .change_month {
	margin: 0 auto;
	width: 100%;
   	text-align: center;
   	max-width: 92.5em;
   	margin-bottom: 10px;
}

.month-page .change_month .ui-btn-inline {
	margin: 10px;	
	
}

.month-page .change_month table {
	padding: 0px;
	display: inline-table;
	width: 100%;
}

.month-page .change_month td {
	width: 33.333%;
}



/* DO not show the days of the last or future month in the general view */
.month-page .ui-listview li.pastDays{
   	display: none;   	
}


.month-page .ui-disabled { 
    opacity: 0.8 !important;
    /* background: -moz-repeating-linear-gradient(45deg, #969292, #eee 10px); */
	/* background: -webkit-repeating-linear-gradient(45deg, #969292,  #eee 5px); */
	background-color: rgb(209, 209, 209);
	
}

.month-page .ui-listview  .ui-disabled h2 {
	opacity: 0.3 !important;
}

.month-page .ui-listview  .ui-disabled .ui-li-aside {
	opacity: 0.3 !important;
}




/* ======   Tablets and PC view   ====== */
/* First breakpoint is 63.75em (1020px). 7 column layout. Tiles will be 250x250 pixels incl. margin again at the breakpoint. */
@media ( min-width: 768px ) {
    .month-page .ui-content {
        padding: .625em; /* 10px */
    }
    
     /* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
    By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
    .month-page .ui-listview {
        max-width:92.5em; /* 1000px */
        margin: 0 auto;
    }
    
    /* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
    but we stick to percentage values for demo purposes. */
    .month-page .ui-listview li {
        float: left;
        width: 13.85%;
        height: 95px;
        /*margin: .625em 1%;*/
        margin: 2px 2px;
    }
    .month-page .ui-listview li > .ui-btn {
        -webkit-box-sizing: border-box; /* include padding and border in height so we can set it to 100% */
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        height: 100%;
    }
    
    
    .month-page .ui-listview li.ui-li-has-thumb .ui-li-thumb {
        height: auto; /* To keep aspect ratio. */
        max-width: 100%;
        max-height: none;
    }
    /* Make all list items and anchors inherit the border-radius from the UL. */
    .month-page .ui-listview li,
    .month-page .ui-listview li .ui-btn,
    .month-page .ui-listview .ui-li-thumb {
        -webkit-border-radius: inherit;
        border-radius: inherit;
    }
    /* Hide the icon */
    .month-page .ui-listview .ui-btn-icon-right:after {
        display: none;
    }
    /* Make text wrap. */
    .month-page .ui-listview h2,
    .month-page .ui-listview p {
        white-space: normal;
        overflow: visible;
        position: absolute;
        left: 0;
        right: 0;
        color: #888181;
    }
    /* Text position */
    .month-page .ui-listview h2,
    .month-page .ui-listview .pastDays h2 {
        font-size: 1.0em;
        margin: 0;
        top: 30px;
        padding: .125em 1em;
        bottom: 50%;
        text-shadow: none;
    }
    .month-page .ui-listview p {
        font-size: .9em;
        margin: 0;
        top: 60px;
        padding: 0 1.25em;
        min-height: 50%;
        bottom: 0;
    }
    /* Semi transparent background and different position if there is a thumb. The button has overflow hidden so we don't need to set border-radius. */
    .ui-listview .ui-li-has-thumb h2,
    .ui-listview .ui-li-has-thumb p {
        /*background: #111;*/
        /*background: rgba(0,0,0,.8);*/
    }
    .ui-listview .ui-li-has-thumb h2 {
        top: 0;
        text-align: center;
        font-size: 42px;
    }
    .ui-listview .ui-li-has-thumb p {
        min-height: 35%;
    }
    
    .diary-page .ui-listview .ui-li-has-thumb p {
		display: inline;
	}
    
    .month-page .ui-listview li .ui-btn .description {
	    margin-left: 0px;
	}
    
    /* ui-li-aside has class .ui-li-desc as well so we have to override some things. */
    .month-page .ui-listview .ui-li-aside {
        padding: .125em .625em;
        width: auto;
        min-height: 0;
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
        /* Custom styling. */
        background: #990099;
        background: rgba(0,0,0,.8);
        -webkit-border-top-right-radius: inherit;
        border-top-right-radius: inherit;
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -webkit-border-bottom-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    
    .month-page .day {
    	display: none;
    }
    
    
    /* If you want to add shadow, don't kill the focus style. */
    .month-page .ui-listview li {
        -moz-box-shadow: 0px 0px 9px #111;
        -webkit-box-shadow: 0px 0px 9px #111;
        box-shadow: 0px 0px 9px #111;
    }
    /* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
    .month-page .ui-listview li > .ui-btn:hover {
        -moz-box-shadow: 0px 0px 12px #33ccff;
        -webkit-box-shadow: 0px 0px 12px #33ccff;
        box-shadow: 0px 0px 12px #33ccff;
    }
    /* Animate focus and hover style, and resizing. */
    .month-page .ui-listview li,
    .month-page .ui-listview .ui-btn {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    
    .month-page table{
    	width: 100%;
    	padding-left: 30px;
    	max-width: 92.5em;
    	display: inline-table;
    }
    
    .month-page td{
    	width: 12%;
    }
    
    /*Show the days of the last or future month in this breakpoint */
    .month-page .ui-listview li.pastDays{
    	display: inline-block;
    	
    }
    
    .month-page .ui-listview li > .pastDays{
    	background: rgb(209, 209, 209);
    }
    
    
    .month-page .ui-listview li.pastDays.ui-li-has-thumb p.ui-li-aside {
 	  	background: rgb(209, 209, 209);
 	  	color: black;
	} 
}

/* For this style we used images with a size of 310x310 pixels. Just before the first breakpoint the images reach their max width: 1019px - 2 x 9px padding = 1001px x 30.9333% = ~310px */







/* ===========================================================================
   Day View
   ======================================================================== */

.day-page .ui-listview li .ui-btn {
	min-height: 0.625em;
	margin-left: 22px;
	text-shadow: none;
}

.day-page .ui-listview li .ui-btn .ui-li-aside {
    color: white;
    text-shadow: none;
}


/* A bit custom styling */
.day-page .ui-listview li .ui-btn p {
    color: #c0c0c0;
    padding: 5px;
    font-size: 12px;
}


.day-page .ui-listview .ui-li-aside{
	text-align: center;
    width: 4em;
    padding-top: 1.6em;
    min-height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    /* Custom styling. */
    background: #990099;
    background: rgba(0,0,0,.8);
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    text-shadow: none;
    color: white;
    border: 1px white solid;
}

.day-page .ui-listview .ui-li-has-thumb .ui-li-aside {
   	background: red;
}


.day-page .day {
	position: absolute;
	padding-top: 1em;	
	top: 0px;
    left: 6px;
    right: auto;
    bottom: auto;
    text-shadow: none;
    font-weight: normal;
    color: white;
}

.day-page table{
	display: none;
}



/* ======   Change day Buttons   ====== */
 
.day-page .change_day {
	margin: 0 auto;
	width: 100%;
   	text-align: center;
   	max-width: 92.5em;
   	margin-bottom: 10px;
}

.day-page .change_day .ui-btn-inline {
	margin: 10px;
}

.day-page .change_day a.ui-link.available{
	background: green;
	color: white;
}

.day-page .change_day a.ui-link:hover.available {
	background: red;
	content:"Suciedad"; 
}

.day-page .change_day a.ui-link.unavailable {
	background: red;
	color: white;
}

.day-page .change_day a.ui-link:hover.unavailable {
	background: green;
}


.day-page .change_day table {
	padding: 0px;
	display: inline-table;
	width: 100%;
}

.day-page .change_day td {
	width: 33.333%;
}

.day-page .ui-content .unavailable {
	background: rgb(245, 178, 178);
	width: 50%;
	margin: 50px auto;
	padding: 30px;
	min-height: 100px;
}

.day-page .ui-listview .ui-li-has-thumb h2 {
	display: inline;
	max-width: 5%;
}

.day-page .ui-listview .ui-li-has-thumb h2>:first-child{
	max-width: 200px;
	padding-bottom: 15px;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	color: black;
}

.day-page .ui-listview .ui-li-has-thumb {
	background: beige;
	padding-left: 43px;
}

.day-page .ui-listview li.currentTime .ui-btn {
 	background: rgb(251, 255, 157);
}

.day-page .ui-listview li.currentTime .ui-btn:hover{
 	background: rgb(250, 255, 128);
}

.day-page .ui-listview a.unavailableTime.ui-btn {
 	background: rgb(248, 209, 209);
}

.day-page .ui-listview a.unavailableTime.ui-btn p {
 	font-weight: bold;
}



/* ===========================================================================
   Diary View
   ======================================================================== */

.diary-page .ui-listview li h2 .ui-btn {
	min-height: 0.625em;
	background: transparent;
	border: 0px black solid;
	text-shadow: none;
}

.diary-page .ui-listview li .ui-btn .ui-li-aside {
    color: white;
    text-shadow: none;
}


/* A bit custom styling */
.diary-page .ui-listview li .ui-btn p {
    color: #c0c0c0;
    padding: 5px;
    font-size: 12px;
}


.diary-page .ui-listview .ui-li-aside{
	text-align: center;
    width: 9em;
    padding-top: 1.6em;
    min-height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    /* Custom styling. */
    background: #990099;
    background: rgba(0,0,0,.8);
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    text-shadow: none;
    color: white;
    border: 1px white solid;
}

.diary-page .ui-listview .ui-li-has-thumb .ui-li-aside {
	
}


.diary-page .day {
	position: absolute;
	padding-top: 1em;	
	top: 0px;
    left: 6px;
    right: auto;
    bottom: auto;
    text-shadow: none;
    font-weight: normal;
    color: white;
}

.diary-page table{
	display: none;
}



/* ======   Change day Buttons   ====== */
 
.diary-page .change_day {
	margin: 0 auto;
	width: 100%;
   	text-align: center;
   	max-width: 92.5em;
   	margin-bottom: 10px;
}

.diary-page .change_day .ui-btn-inline {
	margin: 10px;	
	
}

.diary-page .change_day table {
	padding: 0px;
	display: inline-table;
	width: 100%;
}

.diary-page .change_day td {
	width: 33.333%;
}



.diary-page .ui-listview .ui-li-has-thumb h2>:first-child{
	

	text-decoration: none;
}

.diary-page .ui-listview .ui-li-has-thumb, .diary-page .ui-listview .ui-li-has-thumb .ui-bnt {
	padding-left: 130px;
}

.diary-page .ui-listview>.ui-li-has-thumb>.ui-btn, .diary-page .ui-listview>.ui-li-static.ui-li-has-thumb {
	padding-left: 130px;
}

.diary-page .ui-collapsible-themed-content .ui-collapsible-content {
	border: 0px solid;
	padding-left: 37px;
}

.diary-page .ui-listview .ui-btn-inline {
	height: 100px;
	width: 200px;
	padding: 15px;
	padding-bottom: 0px;
	color: white;
	font-size: 14px;
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.diary-page .ui-listview .ui-btn-inline:hover{
	color: black;
}

/* ===========================================================================
   Mini Calendar
   ======================================================================== */

.mini-calendar th {
	border-bottom: 1px solid #d6d6d6;
	background:transparent;
	color: black;
	font-weight: normal;
}

.mini-calendar tr {
	border-bottom: 1px solid #d6d6d6;
}

.mini-calendar tr:nth-child(even) {
	background:transparent;
}

.mini-calendar td a.ui-link {
	font-weight: normal;
	color: black;
}

.mini-calendar td a.ui-link:hover,
.mini-calendar td a.ui-link:visited {
	font-weight: bold;
	color: black;
}

.mini-calendar .has_appointment a.ui-link,
.mini-calendar .has_appointment a.ui-link:visited {
	font-weight: bold;
	color: #38c;
}

.mini-calendar .change_day .ui-btn-inline {
	margin: 10px;	
	
}

/* ===========================================================================
   REPORTS
   ======================================================================== */

.report_title {
	text-align: center;
	margin-bottom: 10px;
}

.report_total {
	font-weight: bold; 
	background-color: #8AB0CF;
	text-shadow: none;
	color: black;
}