{% extends '::backend.html.twig' %}


{% block title %}Access form{% endblock %}
{% block id 'user' %}

{% block article %}
	<section id="login">
		{% if error %}
			<div class="form-error">{{ error.message }}</div>
		{% endif %}
		<form action="{{ path('login_check') }}" method="post" data-ajax="false">
			<label for="username">Login:</label>
			<input type="text" id="username" name="_username"
			value="{{ last_username }}" />
			
			<label for="password">Password:</label>
			<input type="password" id="password" name="_password" />
			
			<input type="checkbox" id="not_close" name="_remember_me" checked />
			<label for="not_close">Remember me</label>
			
			<div style="width: 130px; float: right;">
				<input type="submit" name="login" value="Sign In" data-theme="b" data-icon="check" data-iconpos="right" />
			</div>
		</form>
	</section>

{% endblock %}