{% extends '::base_dialog.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('bundles/backend/css/backend.css') }}"	rel="stylesheet" type="text/css" />
{% endblock %}

{% block name %}Admin{% endblock %}

{% block body %}

	<script type="text/javascript" src="{{ asset('bundles/backend/js/common.js') }}" ></script>
	
	<div data-role="content" data-theme="a">
		{% block article %}{% endblock %}
	</div>

{% endblock %}