{% extends '::base.html.twig' %}


{% block stylesheets %}
	<link href="{{ asset('bundles/backend/css/backend.css') }}"	rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

	<div data-role="content">
		{% include '::includes/messages.html.twig' %}
		{% block article %}{% endblock %}
	</div><!-- /content -->
{% endblock %}