/*

  Common styles

  Applied to
  --------------------------------------------------------------
   all bundles
   

*/

.ui-content {
	margin-top: 60px;
}

/* ===========================================================================
   Side menu
   ======================================================================== */
   
.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

/* ===========================================================================
   Tables
   ======================================================================== */

th {
	border-bottom: 1px solid #d6d6d6;
	background:#38c;
	color: white;
	text-shadow: none;
}

tbody th {
	background-color: transparent;
}

tr {
	border-bottom: 1px solid #d6d6d6;
}

tr:nth-child(even) {
	background:#e9e9e9;
}

th a.ui-link, a:visited {
	color: black;
}

th a.ui-link:hover {
	color: black;
	text-decoration: underline;
}

a{
	text-decoration: none;
}


/* ===========================================================================
   Listview collapsible
   ======================================================================== */
   
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
	border: 0px solid;
}



/* ===========================================================================
   Dialog
   ======================================================================== */


.ui-dialog-contain {
	max-width: 700px;
}


.ui-dialog-contain table {
	width: 100%;	
}

.ui-dialog-contain th {
	border-bottom: 0px solid #d6d6d6;
	background:white;
	color: black;
}

.ui-dialog-contain tr {
	border-bottom: 1px solid #d6d6d6;
}

.ui-dialog-contain tr:nth-child(even) {
	background:white;	
}



/* ===========================================================================
   Messages
   ======================================================================== */
.message {
	background: yellow;
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    max-width: 40%; 
    color: black;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.message:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
} 


/* ===========================================================================
   Filter Search
   ======================================================================== */


.filter {
	max-width: 700px;
	margin-top: 60px;
}


.filter .ui-select .ui-btn{
	font-size: 12px;
}

.filter .ui-btn {

	font-size: 12px;
}


.menu_item_left {
	padding: 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background:#ddd;
	color: black;
	text-shadow: none;
}

.menu_item_left .ui-listview>li a.ui-link{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.menu_item_left .ui-listview>li.ui-first-child a.ui-link{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    
    -webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.menu_item_left .ui-listview>li.ui-last-child a.ui-link {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    
    -webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    
}

.menu_item_left p.no_content {
	background: white;
	color: black;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ===========================================================================
   Messages
   ======================================================================== */

.no-data-message {
	margin: 100px auto;
	text-align: center;
	padding: 80px;
	width: 30%;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#ddd;
}

.no-data-message_dialog {
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	padding: 40px;
	width: 60%;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#ddd;
}